@model IEnumerable<FIZ_Markerspace.Models.Room>

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rooms</h2>

<p>
    @Html.ActionLink("Create New", "Create_Room")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.room_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.room_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit_Room", new { id=item.room_id }) |
            @Html.ActionLink("Details", "Room_Details", new { id=item.room_id }) |
            @Html.ActionLink("Delete", "Delete_Room", new { id=item.room_id })
        </td>
    </tr>
}

</table>
