@model FIZ_Markerspace.Models.Machine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.machine_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.machine_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usage_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usage_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_usage_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_usage_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.current_threshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.current_threshold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role_access)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_access)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hardware_service_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hardware_service_flag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.machine_id }) |
    @Html.ActionLink("Back to List", "View_Machines")
</p>
