@model FIZ_Markerspace.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.wsu_id)
        </dt>

        <dd id="wsu_id">
            @Html.DisplayFor(model => model.wsu_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rfid_tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rfid_tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exp_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exp_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creation_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creation_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est_grad_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.est_grad_date)
        </dd>

    </dl>

    <input type="button" value="Delete" data-toggle="modal" data-target="#myModal" /> |
    @Html.ActionLink("Back to List", "View_Users")

    @*@using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "View_Users")
            </div>
        }*@
</div>

<script>
    $(document).ready(function () {
        $("#submit_authentication").click(function (event) {
            //Authentication Data
            var AUTH_WSU_ID = $("#auth_wsu_id").val();
            var AUTH_PASSWORD = $("#auth_password").val();
            //User Data
            var WSU_ID = @(Html.DisplayFor(model => model.wsu_id))

            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete_Helper")',
                data: JSON.stringify({
                    //Authentication Data
                    AUTH_WSU_ID: AUTH_WSU_ID, AUTH_PASSWORD: AUTH_PASSWORD,
                    //User Data
                    WSU_ID: WSU_ID
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (return_data) {
                    if (return_data.result == true) {
                        swal({
                            title: "User Deleted!",
                            text: return_data.message,
                            icon: "success",
                        });
                    }
                    if (return_data.result == false) {
                        swal({
                            title: "Error!",
                            text: return_data.message,
                            icon: "warning",
                        });
                    }
                },
                error: function (return_data) {
                    if (return_data.result == true) {
                        swal({
                            title: "User Deleted!",
                            text: return_data.message,
                            icon: "success",
                        });
                    }
                    if (return_data.result == false) {
                        swal({
                            title: "Error!",
                            text: return_data.message,
                            icon: "warning",
                        });
                    }
                    else {
                        swal({
                            title: "Error!",
                            text: "There was a problem submitting your data, check your inputs!",
                            icon: "warning",
                        });
                    }
                },
            });
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

